{% extends 'modulo_puntos/base.html' %}

{% block title %}Iniciar Sesión{% endblock %}

{% block content %}
<div class="card" style="max-width: 500px; margin: 80px auto;">
    <h2 class="page-title">Iniciar Sesión</h2>
    <p class="muted">Ingrese su usuario y contraseña para acceder al sistema.</p>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}

        <div class="actions">
            <button type="submit" class="btn">Ingresar</button>
        </div>
    </form>
</div>
{% endblock %}